<%= form_with(model: med, local: true) do |form| %>
  <% if med.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(med.errors.count, "error") %> prohibited this med from being saved:</h2>

      <ul>
        <% med.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <p><%= form.text_field :name %></p>
  </div>
  <br>

  <div class="field">
    <%= form.label :indication %>
    <p><%= form.select :indication, options_for_select([['Before food'], ['After food']]) %></p>
  </div>
  <br>

  <div class="field">
    <%= form.label :frequency %>
    <p><%= form.select :frequency, options_for_select([[1], [2], [3]])%><span> intake(s) per day</span></p>
  </div>
  <br>

  <div class="field">
    <%= form.label :time %><span> (if Frequency is 1 intake per day)</span>
    <p><%= form.select :time, options_for_select([['Morning'],['Night']]) %></p>
  </div>
  <br>

  <div class="field">
    <%= form.label :dosage %>
    <p><%= form.text_field :dosage %><span> per intake</span></p>
  </div>
  <br>

  <div class="field">
    <%= form.label :date_start %>
    <p><%= form.datetime_select :date_start %></p>
  </div>
  <br>

  <div class="field">
    <%= form.label :duration %>
    <p><%= form.number_field :duration %><span> day(s)</span></p>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
