<p id="notice"><%= notice %></p>

<h1>Meds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Indication</th>
      <th>Frequency</th>
      <th>Time</th>
      <th>Dosage</th>
      <th>Date start</th>
      <th>Duration</th>
      <th>Date end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meds.each do |med| %>
      <tr>
        <td><%= med.name %></td>
        <td><%= med.indication %></td>
        <td><%= med.frequency %></td>
        <td><%= med.time %></td>
        <td><%= med.dosage %></td>
        <td><%= med.date_start %></td>
        <td><%= med.duration %></td>
        <td><%= med.date_end %></td>
        <td><%= link_to 'Show', med %></td>
        <td><%= link_to 'Edit', edit_med_path(med) %></td>
        <td><%= link_to 'Destroy', med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Med', new_med_path %>
