<!DOCTYPE html>
<html>
  <head>
    <title>MedHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.14.1/react-datepicker.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="logging">
      <% if user_signed_in? %>
        <a><%= link_to 'log out', destroy_user_session_url, method: :delete, class:"button" %></a>
      <% else %>
        <%= link_to 'log in', new_user_session_url, class:"button" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
